@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Helmet';
  src: url(../Css/Helmet-lWZV.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* font-family: 'Nunito Sans', sans-serif;
   font-weight: 600; */
   font-family: 'Helmet', sans-serif;

}




.container{
  position: relative;
  width: 100%; 
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
 

}

.container::before{
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  left: 48%;
  /* background-image: linear-gradient(-45deg,
  #0d6efd 0%, #0d6efd 100%);
  transform: translateY(-20%);
  border-radius: 50%; */
}

.inner-box{
  position: absolute;
  width: 70%;
  height: 40%;
  top: 20%;
  background-color: #0d6efd;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 13rem;
}

.title{
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.line{
  width: 100%;
}

.text{
  font-size: 1rem;
  color:  #fff;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 400;
}

.direction{
    font-size: 15px;
    color:  #fff;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}


.input-field{
 width: 43%;
  height: 55px;
  background-color: #f0f0f0;
  margin-left: 1rem;
  border-radius: 50px;
  grid-template-columns: 15% 85%;
  padding: 0 1rem;

}

.input-field i{
  text-align: center;
  line-height: 55px;
  color: #0d6efd;
  font-size: 1.1rem;
}

.input-field input{
  outline: none;
  background: none;
  border: none;
  line-height: 3;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  width: 50%;
  margin-left: 5px;
  width: 80%;
}

.input-field input:placeholder-shown{
  color: #aaa;
  font-weight: 500;
}


.btn{

  height: 40px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: #F6C53F;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
  display: block;
  transform: all 0.5s;
  cursor: pointer;
  margin-left: 20px;
  

}

.btn:hover{
    background-color: #F6C53F;
} 

#btn2{
  /* width: 20%;
  height: 40px;
  border-radius: 48px;
  outline: none;
  border: none;
  font-size: 14px;
  right: 55%;
  background-color: #aaa;
  color: #fff */
}

#btn2:hover{
  background-color: red !important;
  color: white;
}

.image{
  width: 40%;
  height: 70%;
  position: absolute;
  top: 6rem;
  right: -6rem;
  display: flex;
}

/*FOOTER*/
#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 30px;
  font-size: 14px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
/*END OF FOOTER*/

/*Responsive side*/



@media  screen and (max-width: 769px) {

  .inner-box{
    position: absolute;
    width: 60%;
    height: 50%;
    top: 20%;
    right: 7rem;
    display: flex;
  }


  .image{
    display: none;
  }

  .input-field{
    width: 91%;
  }

  .btn{
    width: 60%;
    top: 20px;
  }

  #btn2{
    width: 30% !important;
    right: 0;
    left: 0;
    bottom: 0;
  }

    .line{
      width: 100%;
    }

}

@media screen and (min-width: 770px) and (max-width:1023px) {

    #footer{
    display: flex;
    justify-content: center;
    align-items: center;
  /* background-color: #fff; */
  
    }

    .inner-box{
      position: absolute;
      width: 60%;
      height: 50%;
      top: 20%;
      right: 10rem;
    }

    .image{
     display: none;
    }

    .btn{
      width: 30%;
    }

    .input-field{
      width: 80%;
    }



  
}

@media screen and (min-width: 1024px) {
  
  .input-field{
    width: 50%;
  }

     
}